<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <!-- Optional URL to server. Default value is http://localhost:9000 -->
                <sonar.host.url>http://192.168.88.226/sonar</sonar.host.url>
                <sonar.login>da2a3cd86980d1b06d2406fc728e4eef3e81b17e</sonar.login>
                <sonar.projectKey>Demo_SB</sonar.projectKey>
                <sonar.project>DEMO</sonar.project>
                <sonar.language>java</sonar.language>
            </properties>
        </profile>
    </profiles>
    <servers>
        <server>
            <id>maven-releases</id>
            <username>${env.NEXUS_LOGIN}</username>
            <password>${env.NEXUS_PASSWORD}</password>
        </server>
        <server>
            <id>maven-snapshots</id>
            <username>${env.NEXUS_LOGIN}</username>
            <password>${env.NEXUS_PASSWORD}</password>
        </server>
    </servers>
</settings>
